<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/css/statistics.css">
    <link rel="stylesheet" href="/css/navbar.css">
</head>
<body>
<!---------------------------ШАПКА---------------------------->
<div th:replace="common/navbar :: navbar(user=${user}, vacancy = null)"></div>
<!------------------------------------------------------------>
<div class="chart-container">
    <canvas id="statisticsChart"></canvas>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/script/statistics.js"></script>
</body>
</html>